@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -20;
  min-height: calc(100svh - 64px - 56px);
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  animation: rotate 2s linear infinite;
}

.spinner-blade {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 100% 100%;
  animation: spin 2s linear infinite;
}

.spinner-blade:nth-child(2) {
  transform: rotate(90deg);
}

.spinner-blade:nth-child(3) {
  transform: rotate(180deg);
}

.spinner-blade:nth-child(4) {
  transform: rotate(270deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tiptap,
.post {
  color: black;

  strong {
    font-weight: bold;
  }
  italic {
    font-style: italic;
  }
  p {
    padding-block: 0.5rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  h5 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }
  h6 {
    font-size: 0.875rem;
    margin-bottom: 0.05rem;
  }
  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    padding-left: 1rem;
    li p {
      padding-block: 0.2rem;
    }
  }
  ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    padding-left: 1rem;
    li p {
      padding-block: 0.2rem;
    }
  }
  blockquote {
    border-left: 0.5rem solid rgb(107, 33, 168);
    padding-left: 1rem;
    margin-left: 1rem;
    margin-block: 1rem;
    width: fit-content;
    line-height: 1.2rem;

    cite {
      font-style: italic;
      font-size: 0.875rem;
    }
    p {
      padding-block: 0.5rem;
    }
  }
}
